.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body  {
    background-color: rgb(17, 17, 17);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container {
    max-width: 400px;
            height: 700px;
            margin: 150px auto 90px auto;
            text-align: center;
            background: rgb(50, 50, 50);
            color: white;
            padding: 35px;
            border-radius: 10px;
}
.avatar {
    border-radius: 50%;
    height: 100px;
}

.desc-name{
    color: rgb(54, 224, 0);
}

.desc-2 {
    padding-top: 30px;
    color: grey;
}

.medsos {
    display: flex;
    flex-direction: column;
}
    

.medsos a {
    padding: 20px;
    margin: 10px;
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
    color: whitesmoke;
    text-decoration: none;
}

.medsos a:hover{ 
    background-color: rgb(54, 224, 0);
    color: black;
}